@use "./../../../../assets/styles/variables" as *;
@use "./../../../../assets/styles/mixins" as *;

.hero {
    background: linear-gradient(to bottom, var(--bg-main) 0%, var(--bg-surface-light) 30%, var(--bg-main) 100%);

    padding: 60px 0 40px;
    border-bottom: 1px solid var(--bg-surface);
}

.heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.heroTitle {
    font-size: $fz-2xl;
    line-height: $lh-tight;
    font-weight: $fw-bold;
    color: var(--text-primary);
    margin-bottom: 16px;
}

.heroSubtitle {
    font-size: 1.1rem;
    color: var(--text-secondary);
}

@include tablet {
    .hero {
        padding: 40px 0 20px;
    }

    .heroTitle {
        font-size: 2rem;
    }
}
