@use "./../../../../assets/styles/mixins" as *;
@use "./../../../../assets/styles/variables" as *;

.teaserWrapper {
    padding: 40px 0px;
}

.teaserTitle {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    color: var(--text-primary);
}

.teaserRooms {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 100%;

    li {
        display: flex;
        justify-content: center;
    }

    @include tablet {
        grid-template-columns: 1fr;
    }
}
