@use "./../../../../assets/styles/mixins" as *;
@use "./../../../../assets/styles/variables" as *;

.teaserWrapper {
    padding: 80px 0px;
}

.teaserTitle {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    color: var(--text-primary);
}

.teaserRooms {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 100%;

    list-style: none;
    padding: 0;
    margin: 0;

    @include tablet {
        grid-template-columns: 1fr;
    }
}
