@use "./../../../assets/styles/variables" as *;

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 24px;
    border-radius: $border-radius;
    border: 1px solid transparent;

    font-family: inherit;
    font-size: 1rem;
    font-weight: $fw-medium;
    line-height: $lh-base;

    cursor: pointer;
    transition:
        background-color 0.2s,
        color 0.2s,
        transform 0.1s;

    &:disabled {
        background-color: var(--bg-surface-light);
        color: var(--text-muted);
        cursor: not-allowed;
        transform: none;
    }

    &:active:not(:disabled) {
        transform: scale(0.95);
    }
}

.button--primary {
    background-color: var(--accent-primary);
    color: var(--text-inverse);

    &:hover:not(:disabled) {
        background-color: var(--accent-hover);
    }
}

.button--ghost {
    background-color: transparent;
    color: var(--text-primary);
    border: 1px solid var(--text-primary);

    &:hover:not(:disabled) {
        color: var(--text-inverse);
        background-color: var(--text-primary);
    }
}

.button-fullwidth {
    width: 100%;
}
