.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    width: 100%;
}
