@use "./../../../assets/styles/variables" as *;
@use "./../../../assets/styles/mixins" as *;

.headerWrapper {
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoText {
    font-size: $fz-xl;
    font-weight: $fw-bold;
    .accent {
        color: var(--accent-primary);
    }
}

.desktopNav,
.desktopAuth {
    display: flex;
    align-items: center;

    @include tablet {
        display: none;
    }
}

.desktopNavList {
    display: flex;
    gap: 32px;
    @include tablet {
        gap: 16px;
    }
}

.navLink {
    font-weight: $fw-semibold;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition:
        transform 0.3s,
        color 0.3s;

    &:hover {
        color: var(--accent-primary);
        transform: scale(1.1) translateY(-2px);
    }

    &--active {
        color: var(--accent-primary);
        border-color: var(--accent-active);
    }
}

.userLogo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: $fw-semibold;
    color: var(--text-primary);
    transition: color 0.3s;

    &:hover {
        color: var(--accent-hover);
    }

    &--active {
        color: var(--accent-primary);
    }
}
.themeToggle {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 8px;
    margin-right: 16px;
    border-radius: 50%;
    transition:
        background-color 0.3s,
        transform 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: var(--bg-surface-light);
        transform: scale(1.1);
    }
}

.burgerBtn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 101;

    @include tablet {
        display: flex;
    }
    span {
        width: 100%;
        height: 2px;
        background-color: var(--text-primary);
        transition:
            transform 0.3s,
            opacity 0.3s;
        border-radius: 2px;
    }

    &--active {
        span:nth-child(1) {
            transform: translateY(9px) rotate(45deg);
        }
        span:nth-child(2) {
            opacity: 0;
        }
        span:nth-child(3) {
            transform: translateY(-9px) rotate(-45deg);
        }
    }
}

.mobileMenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--bg-surface);
    border-bottom: 1px solid var(--bg-surface-light);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 100;

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;

    @media (min-width: 769px) {
        display: none;
    }

    &--open {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

.mobileAuth {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--bg-surface-light);
    padding-top: 20px;
}
