@use "./../../assets/styles/mixins" as *;

.contentWrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 32px;
    padding: 40px 0;
    align-items: start;

    @include laptop {
        grid-template-columns: 250px 1fr;
    }

    @include tablet {
        grid-template-columns: 1fr;
        gap: 24px;
    }
}

.sidebar {
    background-color: var(--bg-surface);
    padding: 24px;
    border-radius: 12px;
    position: sticky;
    top: 24px;

    @include tablet {
        position: relative;
        top: 0;
    }
}

.listArea {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
