@use "./../../../assets/styles/variables" as *;
@use "./../../../assets/styles/mixins" as *;

.visuallyHidden {
    @include visually-hidden;
}

.footer {
    border-top: 1px solid var(--bg-surface-light);
    background-color: var(--bg-main);
    padding-top: 20px;
}

.footerTop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 16px;
    gap: 12px;

    @include tablet {
        flex-direction: column;
        gap: 16px;
    }
}

.logoLink {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
}

.logoText {
    font-size: $fz-xl;
    font-weight: $fw-bold;
    color: var(--text-primary);
    .accent {
        color: var(--accent-primary);
    }
}

.slogan {
    font-size: $fz-sm;
    color: var(--text-secondary);
    max-width: 250px;
}

.columnTitle {
    font-size: $fz-base;
    font-weight: $fw-bold;
    color: var(--text-primary);
    margin-bottom: 16px;
    text-transform: uppercase;
}

.navList,
.addressList {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.navLink,
.addressLink {
    font-size: $fz-sm;
    display: inline-block;
    color: var(--text-secondary);
    font-weight: $fw-medium;
    transition:
        color 0.3s,
        transform 0.3s;

    &:hover {
        color: var(--accent-primary);
        transform: translateX(4px);
    }
}

.footerBottom {
    border-top: 1px solid var(--bg-surface-light);
    padding: 12px 0;
    text-align: center;

    p {
        font-size: $fz-xs;
        color: var(--text-muted);
    }
}
