*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
}
